*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    /* overflow:hidden; */
}
.upper-container{
    width:50%;
    height:10%;
    margin : 50px auto;
}
.upper-container1{
    width:35%;
    height:100%;
    padding-top:20px;
}
#tasks{
    font-weight:bold;
    font-size:2.5rem;
}
#lists{
    font-size:2.5rem;
    margin-left:10px;
    opacity:0.5;
}
.upper-container2{
    width:30%;
    height:100%;
    padding-top:70px;
    position:absolute;
    top:0px;
    right:0px;
}
#addlist{
    position:relative;
    width:80%;
    height:100%;
    top:0;
    right:0;
    font-size:30px; 
    opacity:0.5;
    padding-top:25px;
}
.card1{
    margin-top:10px;
    border:1.5px solid green;
    height:45vh;
    width:15%;
    position:relative;
    box-shadow: 5px 5px  10px grey;
    margin-right:80px;
}
.div1{
    position:absolute;
    top:15px;
    right:0;
   font-size:25px;
   width:85%;
  text-align:left;
  height:15%;
  color:darkred;
  border-bottom:1px solid black;

}
.div2{
    width:90%;
    height:10%;
    font-size:20px;
    text-align:right;
    position:absolute;
    top:90px;
    text-decoration: line-through;
    color:red;
    font-weight:bold;
}
.div3{
    position:absolute;
    top:120px;
    left:5px;
}
.card-container{
    width:100%;
    display:flex;
    justify-content: center;
    /* margin-right:20px; */
    margin-left:100px;

}
.firstp{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    /* padding:25px */
}

.card2{
    margin-top:10px;
    border:1.5px solid green;
    height:45vh;
    width:20%;
    position:relative;
    box-shadow: 5px 5px  10px grey;
    margin-right:80px;
    position:relative;
}
.card-container2{
    width:100%;
    display:flex;
    justify-content: center;
    /* margin-right:20px; */
    margin-left:30px;

}
.main-part{
    display:flex;
    justify-content: center;
    padding:20px;
}

